extends layout.pug

block content
  section.container
    h1.head= title
    article.item
      form.form(method="post", action="/data")
        fieldset
          div
            input(type="text", name="name", placeholder="Nombre", require)
          div
            input(type="text", name="twitter", placeholder="Twitter", require)
          div
            input(type="text", name="country", placeholder="País", require)
          div
            input(type="email", name="email", placeholder="Correo", require)
          div
            input.button.add(type="submit", value="Agregar")
      a.button.show(href="/") Inicio
