// ::::::::::: footer :::::::::::: //
.footer{
  background-color : darken($grisBG, 20);
  width            : 100%;
  display          : flex;
  justify-content  : center;
  padding          : 1.5rem 0;

  span{
    color : $whiteBG;
  }
}
