// ::::::::::: history :::::::::::: //
.history{
  display        : flex;
  flex-direction : column;
  width          : 100%;
  position       : relative;
  align-items    : flex-start;

  &::before{
    content          : "";
    width            : 2px;
    background-color : lighten($grisBG, 80);
    position         : absolute;
    top              : 0;
    left             : 50%;
    display          : inline-block;
    height           : 100%;
    z-index          : 100;
  }

  &-item{
    display       : flex;
    width         : 50%;
    margin-bottom : 2.5rem;
    margin-top    : 2rem;

    &:nth-of-type(even){
      align-self : flex-end;
    }

    &-cont{
      box-shadow     : 0 0 10px lighten($grisBG, 60);
      width          : 90%;
      display        : flex;
      flex-direction : column;
      order          : 1;

      &-title{
        background-color : $verde;
        position         : relative;

        &::after{
          content     : "";
          border      : 12px solid transparent;
          border-left : 12px solid $verde;
          display     : inline-block;
          position    : absolute;
          top         : calc(50% - 12px);
          left        : 100%;
        }

        &__title{
          color     : $whiteBG;
          padding   : 1rem;
          font-size : 1.5rem;
        }
      }

      &-title:not(.arrow-left){
        &::after{
          border       : 12px solid transparent;
          border-right : 12px solid $verde;
          left         : -24px;
        }
      }

      &__text{
        padding : 1rem;
      }
    }

    &-cont:not(.cont-left){
      order : 0;
    }

    &-circle{
      padding : 0;
      position: relative;
      width : 10%;
      margin-top: -1.5rem;
      display : flex;
      order : 0;
      flex-direction: column;

      &__circle{
        width : 70px;
        height: 70px;
        background-color: lighten($grisBG, 80);
        border-radius: 50%;
        display : inline-block;
        position: relative;
        top : 20px;
        left : -65%;

        &::after{
          content : "";
          width : 45px;
          height: 45px;
          background-color: $whiteBG;
          display: inline-block;
          border-radius: 50%;
          position : absolute;
          top : 18.5%;
          left : 18.5%;
        }

        &::before{
          content : "";
          width : 20px;
          height: 20px;
          background-color: lighten($grisBG, 80);
          display: inline-block;
          border-radius: 50%;
          position : absolute;
          top : 25.5px;
          left : 25.5px;
          z-index : 10;
        }
      }
    }

    &-circle:not(.circle-left){
      order : 1;
      left : calc(10%);
    }
  }
}
