// ::::::::::: Intro :::::::::::: //

.intro{
  background-color : $grisBG;
  height           : 100vh;
  display          : flex;
  justify-content  : center;

  &-wrapper{
    text-align      : center;
    display         : flex;
    justify-content : space-between;
    flex-direction  : column;
    height          : 35%;
    color           : $whiteBG;

    &-logo, &-text, &-btn{
      display : flex;
    }

    &-logo{
      justify-content : center;

      &__h1{
        border        : 1px solid $whiteBG;
        font-size     : 5.5em;
        padding       : 1rem 2rem;
        border-radius : 0px 15px;
        display       : inline-block;
      }
    }

    &-text{
      flex-direction: column;

      &__h2{
        font-size: 3em;
      }

      &__text{
        font-size   : 1.5em;
        padding-top : 1em;
      }
    }

    .intro-btn{
      justify-content: center;
    }
  }
}

.nav-wrapper{
  display     : flex;
  width       : 100%;
  align-items : center;
}
