// ::::::::::: Why :::::::::::: //

.whyList{
  display   : flex;
  flex-wrap : wrap;

  &-item{
    width   : 33%;
    padding : 0 1em 3em;
    display : flex;

    &:hover{
      cursor : pointer;
    }

    &-icon{
      margin-right : 1rem;

      &__icon{
        background-color : $verde;
        color            : white;
        font-size        : 1.5rem;
        padding          : 0.5rem 0.5rem 0.2rem 0.5rem;
        border-radius    : 5px;
        display          : inline-block;
        transition       : all 150ms ease;

        &:hover{
          background-color : $grisBG;
          color            : $whiteBG
        }
      }
    }
  }
}
