extends layout.pug

block content
	section.container
		h1.header= title
		if (message)
			div.error= message
		article.item
			form.form(method="post", action="/login")
				fieldset
					div
						input#username(type="text", name="username" placeholder="usuario", required)
					div
						input#password(type="password", name="password", placeholder="password" required)
					div
						input.button.show(type="submit", value="Loguearse")
					div
						a.button.show(href="/signin") Registrarse